// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$purple: #a519bb;
$green:#0C9732;
// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#141423; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#141423;
$menuHover: #f1effe;
$menuHoverColor: $purple;
$itemMenuHover: #141423;
$subMenuBg:#141423;
$subMenuHover: #f0effe;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  menuHoverColor:$menuHoverColor;
  itemMenuHover:$itemMenuHover;
  purple: $purple;
}
